:root {
  --item-point: none;
  --title-color: #212121;
  --decoration-none: none;
  --link-accent-color: #2196f3;
  --hover-color-time: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --hover-backgroundcolor-time: background-color 250ms
    cubic-bezier(0.4, 0, 0.2, 1);
  --shadow-time: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --fill-time: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: var(--item-point);
}

.current {
  color: var(--link-accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.link {
  -webkit-text-decoration: var(--decoration-none);
          text-decoration: var(--decoration-none);
  color: var(--title-color);
}

.link:hover, .link:focus {
  color: var(--link-accent-color);
}

button {
  -webkit-transition: var(--hover-backgroundcolor-time), var(--hover-color-time);
  transition: var(--hover-backgroundcolor-time), var(--hover-color-time);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  -webkit-transition: opacity 700ms, visibility 700ms;
  transition: opacity 700ms, visibility 700ms;
}

.modal {
  width: 90vw;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: relative;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 400px;
  }
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  margin-bottom: 4px;
}

.form-input {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 41px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-input:focus {
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--link-accent-color);
}

.form-input:focus:focus + .input-icon {
  fill: var(--link-accent-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover {
  cursor: pointer;
}

.form-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-text {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-text:focus {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: var(--link-accent-color);
}

.form-text:hover {
  cursor: pointer;
}

.input-wrap {
  position: relative;
}

.input-icon {
  fill: var(--title-color);
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checbox-label {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

.checbox-label span {
  cursor: pointer;
  fill: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 7px;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: var(--hover-backgroundcolor-time);
  transition: var(--hover-backgroundcolor-time);
}

.policy-check:checked + .checbox-label span {
  border: none;
  background-color: var(--link-accent-color);
  -webkit-transition: var(--hover-backgroundcolor-time);
  transition: var(--hover-backgroundcolor-time);
  fill: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.treaty {
  -webkit-transition: var(--hover-color-time);
  transition: var(--hover-color-time);
  margin-left: 5px;
  color: #2196f3;
}

.treaty:hover, .treaty:focus {
  color: #188ce8;
  -webkit-transition: var(--hover-color-time);
  transition: var(--hover-color-time);
}

.button-form {
  height: 50px;
  min-width: 200px;
  border-radius: 4px;
  border: none;
  background: #188ce8;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  -webkit-transition: var(--hover-backgroundcolor-time), var(--shadow-time);
  transition: var(--hover-backgroundcolor-time), var(--shadow-time);
}

.button-form:focus, .button-form:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #2196f3;
  -webkit-transition: var(--hover-backgroundcolor-time), var(--shadow-time);
  transition: var(--hover-backgroundcolor-time), var(--shadow-time);
}

.form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-field:nth-child(5) {
  margin-bottom: 20px;
}

.form-field:nth-child(6) {
  margin-bottom: 30px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  margin-right: 93px;
  -webkit-text-decoration: var(--decoration-none);
          text-decoration: var(--decoration-none);
  font-family: "Raleway", "sans-serif";
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.nav__logo span {
  -webkit-text-decoration: var(--decoration-none);
          text-decoration: var(--decoration-none);
  font-family: "Raleway";
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: var(--decoration-none);
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: var(--link-accent-color);
  left: 0;
  bottom: -1px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list__item {
  position: relative;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  -webkit-transition: var(--hover-color-time);
  transition: var(--hover-color-time);
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.nav-list__link:hover, .nav-list__link:focus {
  color: var(--link-accent-color);
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: auto;
}

.contacts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-list__link {
  -webkit-transition: var(--hover-color-time);
  transition: var(--hover-color-time);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: auto;
  -webkit-text-decoration: var(--decoration-none);
          text-decoration: var(--decoration-none);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--link-accent-color);
}

.contacts-list__item:not(:last-child) {
  margin-right: 30px;
}

.contacts-list__icons {
  fill: currentColor;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/hero-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

h1 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-butoon {
  border-radius: 4px;
  border: none;
  min-height: 50px;
  min-width: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  cursor: pointer;
}

.hero-butoon:hover, .hero-butoon:focus {
  background: #188ce8;
}

.information {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .information {
    min-width: 1200px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.information-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -30px;
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .information-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.information-list__item {
  max-width: 450px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .information-list__item {
    width: 354px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .information-list__item {
    margin-right: 30px;
    width: 270px;
  }
}

.information-list__titel {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

@media screen and (min-width: 768px) {
  .information-list__titel {
    text-align: left;
  }
}

.information-list__after-titel {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.information-list__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.information-list__svg .information-list {
  margin-bottom: -30px;
}

@media screen and (min-width: 768px) {
  .information-list__svg .information-list {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .information-list__svg {
    width: 270px;
  }
}

.services {
  padding-bottom: 94px;
}

.services__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-list__item {
  position: relative;
}

.services-list__item:not(:last-child) {
  margin-right: 30px;
}

.services-list__item > .services-list__text {
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 33px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .team__title {
    width: 1200px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.team-list {
  margin: 0 auto;
  margin-bottom: -30px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    width: 1200px;
  }
}

.team-list__item {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc(100% / 2 - 30px);
  }
  .team-list__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item {
    width: 1200px;
    width: calc(100% / 4 - 30px);
    margin-right: 30px;
  }
}

.team-list__name {
  padding: 30px 20px 24px 20px;
}

.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-list__after-title {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

.social-network__item:not(:first-child) {
  margin-left: 10px;
}

.social-network {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-network__link {
  -webkit-transition: var(--hover-backgroundcolor-time);
  transition: var(--hover-backgroundcolor-time);
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-network__link:hover,
.social-network__link :focus {
  background-color: var(--link-accent-color);
}

.social-network__svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #afb1b8;
}

.social-network__link:hover .social-network__svg,
.social-network__link:focus .social-network__svg {
  fill: #ffffff;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .customers__title {
    width: 1200px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.customers-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 480px) {
  .customers-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .customers-list {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list {
    width: 1200px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.customers-list__item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .customers-list__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers-list__item {
    width: calc(100% / 3 - 30px);
    margin-right: 30px;
  }
  .customers-list__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list__item:not(:last-child) {
    margin-right: 30px;
  }
}

.customers-list__link {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
}

.customers-list__link:hover, .customers-list__link:focus {
  fill: var(--link-accent-color);
  border: 1px solid var(--link-accent-color);
}

@media screen and (min-width: 768px) {
  .customers-list__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customers-list__link {
    width: 170px;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.filters {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

.button-filtres {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
  -webkit-transition: var(--shadow-time), var(--hover-backgroundcolor-time), var(--hover-color-time);
  transition: var(--shadow-time), var(--hover-backgroundcolor-time), var(--hover-color-time);
  padding: 6px 22px;
}

.button-filtres:hover, .button-filtres:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background: #2196f3;
  color: #ffffff;
}

.project {
  margin-bottom: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project h2 {
  margin-bottom: 4px;
}

.project-item {
  margin-bottom: 30px;
}

.portfolio-link:hover,
.portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-item-wrap {
  overflow: hidden;
  position: relative;
}

.project-text {
  padding: 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-link {
  -webkit-transition: var(--shadow-time);
  transition: var(--shadow-time);
  display: block;
  -webkit-text-decoration: var(--decoration-none);
          text-decoration: var(--decoration-none);
}

.project-img-text {
  height: 100%;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  padding: 64px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
}

.project-img-text.project-item:hover .project-img-text,
.project-item:hover .project-img-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.project-after-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: #757575;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.addres:not(:last-child) {
  margin-right: 70px;
}

.addres__logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.addres__logo span {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__link-map {
  -webkit-transition: var(--hover-color-time);
  transition: var(--hover-color-time);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address__link {
  -webkit-transition: var(--hover-color-time);
  transition: var(--hover-color-time);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adres__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-adres__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-adres__item:not(:last-child) {
  margin-right: 10px;
}

.footer-adres__link {
  -webkit-transition: var(--hover-backgroundcolor-time);
  transition: var(--hover-backgroundcolor-time);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454e;
}

.footer-adres__link:hover, .footer-adres__link:focus {
  background-color: var(--link-accent-color);
}

.footer-adres__svg {
  fill: #ffffff;
}

.footer > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.mailing-list {
  margin-left: auto;
}

.mailing-list__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.mailin-glist input {
  cursor: pointer;
}

.mailing-list__input {
  color: #ffffff;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: #2f303a;
  -webkit-transition: var(--shadow-time), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--shadow-time), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-list__input:hover,
.mailing-list__input :focus {
  border-color: #188ce8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: var(--shadow-time), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: var(--shadow-time), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-list__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-list__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-list__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-list__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-list__button {
  padding: 0 63px 0 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  height: 50px;
  min-width: 200px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), var(--shadow-time);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), var(--shadow-time);
}

.mailing-list__button:hover,
.mailing-list__button :focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  color: #2196f3;
  -webkit-transition: var(--hover-color-time), var(--hover-backgroundcolor-time), var(--shadow-time);
  transition: var(--hover-color-time), var(--hover-backgroundcolor-time), var(--shadow-time);
}

.telegram-svg {
  position: absolute;
  margin-left: 11px;
  fill: #ffffff;
}

.mailing-list__button:hover .telegram-svg,
.mailing-list__button:focus .telegram-svg {
  fill: #2196f3;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-list .mailing-list__input {
  margin-right: 12px;
}
/*# sourceMappingURL=main.css.map */